$primary_color: #0F206C;
$time_line_border: var(--time_line_border);
$time_line: var(--time_line);
$time_line_bg: var(--time_line_bg);
$body_bg: #f9f9f9;
$body_text: #6b6b70;
$black: #000000;
$white: #ffffff;
$error-text-color: #db392d;
$box_border: #E1DEDE;
$btn_shadow: rgba($black, 0.1);
$highlighter: #08113B;

/* forms colors */

$secondary_color: #EEEEEE;
$label_color: #525252;
$input_border: #CECECE;
$disabled: #F9F9F9;
$file_title: #313131;
$file_border: #B7B7B7;
$file_bg: #F4F4F4;